:root {
    /* GitHub Light Mode Colors */
    --github-pw-bg-color: #ffffff; /* Light background */
    --github-pw-border-color: #e1e4e8; /* Light border */
    --github-pw-text-color: #24292f; /* Dark text */
    --github-pw-second-text-color: #9198a1; /* Light text */
    --github-pw-header-bg-color: #f6f8fa; /* Light header */
    --github-pw-header-text-color: var(--github-pw-text-color); /* Dark header text */
    --github-pw-link-color: var(--github-pw-text-color); /* Lighter link color */
    --github-pw-link-hover-color: #4493f8; /* Hover effect link color */
    --github-pw-divider-color: #d1d5da; /* Divider color (light) */
    --github-pw-octicon-color: var(--github-pw-text-color); /* Octicon color */
}

.github-pw-dark {
    /* GitHub Dark Mode Colors */
    --github-pw-bg-color: #0d1117; /* Dark background */
    --github-pw-border-color: #30363d; /* Dark border */
    --github-pw-text-color: #f0f6fc; /* Light text */
    --github-pw-second-text-color: #9198a1; /* Light text */
    --github-pw-header-bg-color: #161b22; /* Dark header */
    --github-pw-header-text-color: #fff; /* Light header text */
    --github-pw-link-color: var(--github-pw-text-color); /* Lighter shade of text color in dark mode */
    --github-pw-divider-color: #30363d; /* Divider color (dark) */
    --github-pw-octicon-color: var(--github-pw-text-color); /* Octicon color */
}

/* Common Rules */
.github-pw-divider {
    height: 1px;
    display: block;
    background: var(--github-pw-divider-color);
}

.github-pw-block {
    margin: 15px;
    display: block;
}

.github-pw-icons-block {
    gap: 5px;
    display: flex;
    align-items: center;
}

.github-pw-icons-block .octicon {
    color: var(--github-pw-text-color);
    transition: all 250ms linear 0s;
}

.github-pw-icons-block a:hover .octicon {
    color: var(--github-pw-link-hover-color);
}

.github-pw *,
.github-pw *::after.
.github-pw *::before {
    box-sizing: border-box;
}

/* Widget Rules */
.github-pw {
    font-size: 13px;
    background-color: var(--github-pw-bg-color);
    border: 1px solid var(--github-pw-border-color);
    color: var(--github-pw-text-color);
    max-width: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    container: github-pw / inline-size;

}

/* Hover effect for links Rules */
.github-pw a {
    outline: 0 !important;
    text-decoration: none !important;
    transition: all 250ms linear 0s;
    color: var(--github-pw-second-text-color);
}

.github-pw a:hover,
.github-pw a:hover .octicon {
    color: var(--github-pw-link-hover-color);
}

/* Header Rules */
.github-pw h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 .1em;
    padding: 0;
    border-bottom: 1px solid var(--github-pw-divider-color);
}

.github-pw-header {
    font-weight: bold;
    background-color: var(--github-pw-header-bg-color);
    border-bottom: 1px solid var(--github-pw-border-color);
    padding: 15px;
    margin: 0;
}

.github-pw-company-logo {
    display: inline-block;
    vertical-align: middle;
    height: 2.5em;
    margin-right: .250em;
    right: 0;
}

.github-pw-header-link {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5em;
    color: var(--github-pw-header-text-color);
}

/* Proifile Rules */
.github-pw-profile {
    display: flex;
    align-items: flex-start;
}

.github-pw-profile-avatar {
    width: 128px;
    display: block;
    vertical-align: bottom;
}

.github-pw-profile-names {
    gap: 1px;
    top: -8px;
    display: flex;
    margin-left: 5px;
    position: relative;
    flex-direction: column;
}

.github-pw-profile-name {
    font-size: 1.15em;
    font-weight: bold;
}

.github-pw-profile-username {
    font-size: 1.15em;
    font-weight: 300;
    color: var(--github-pw-second-text-color);
}

.github-pw-vcard-stats {
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.github-pw-vcard-stat {
    gap: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
}

.github-pw-vcard-stat-count {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

.github-pw-orgs {
    gap: 10px;
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--github-pw-header-bg-color);
    border-top: 1px solid var(--github-pw-border-color);
}

.github-pw-orgs a {
    margin: 0px;
    max-width: 40px;
    max-height: 40px;
}

.github-pw-orgs .github-pw-org-avatar {
    margin: 0px;
    max-width: 40px;
    border: 1px solid var(--github-pw-border-color);
}

.github-pw-orgs a:hover .github-pw-org-avatar {
    border-color: var(--github-pw-link-hover-color);
}

@container github-pw (max-width: 700px) {
    .github-pw-profile-avatar {
        width: 64px;
    }
}
